body{
  margin: 0;
  background: #e5e5e5 !important;
}

h1 {
  font-family: roboto;
}

.row.dataDisplay {
  padding: 1rem;
  border-radius: 10px;
  margin: 1rem 0;
  background: white;
  -webkit-box-shadow: 0px 0px 8px rgb(54 48 116 / 30%)
}

input#search {
  display: flex;
  margin: 2rem auto;
  width: 50%;
  height: 7vh;
  font-size: 22px;
  border: 1px solid white;
  background: white;
  border-radius: 40px;
  -webkit-box-shadow: 0px 0px 8px rgb(54 48 116 / 30%);
  padding: 0.3rem 1rem;
  outline-width: 0 !important;
}
